html {
  --coffee: #393045;
  --pencil: #fcb104;
  --white: #e8edf3;
  --dark-white: #cdcdd5;
  --notepad: #ece5d3;
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--coffee);
  background: var(--dark-white);
  margin: 0;
  letter-spacing: .1ex;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
