html {
  --coffee: #393045;
  --pencil: #fcb104;
  --white: #e8edf3;
  --dark-white: #D5D7E0;
  --notepad: #ece5d3;
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--coffee);
  background: var(--dark-white);
  margin: 0;
  letter-spacing: .1ex;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button, input, textarea {
  resize: none;
  font: inherit;
  background: var(--white);
  border: none;
  padding: .8rem 1.2rem;
  border-radius: .8rem;
}

button {
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background: var(--pencil);
  color: var(--white);
}
